# Python
__pycache__/
*.py[cod]
.env
venv/
.venv/

# Données volumineuses
data/generated/*.csv
data/raw/*.json
*.log

# dbt
dbt_project/target/
dbt_project/dbt_packages/
dbt_project/logs/

# Docker volumes
docker/postgres-data/

# IDE
.vscode/
.idea/
*.swp
.DS_Store
Thumbs.db
